<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensors_front_wheel_macro" params="parent">
    <xacro:include filename="static_joint.xacro"/>
    <xacro:arg name="config_dir" default="$(find fodro_1_sensor_kit_description)/config"/>
    <xacro:property name="front_wheel_data" value="${xacro.load_yaml('$(arg config_dir)/sensors_front_wheel.yaml')}"/>

  <xacro:static_joint_macro
    parent="${parent}"
    link_name="lidar_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="${parent}"
    link_name="imu_link"
    x="${front_wheel_data['front_wheel_link']['imu_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['imu_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['imu_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['imu_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['imu_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['imu_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="${parent}"
    link_name="radar_link"
    x="${front_wheel_data['front_wheel_link']['radar_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['radar_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['radar_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['radar_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['radar_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['radar_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="${parent}"
    link_name="fod_radar_link"
    x="${front_wheel_data['front_wheel_link']['fod_radar_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['fod_radar_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['fod_radar_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['fod_radar_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['fod_radar_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['fod_radar_link']['yaw']}"
  />

  <!-- lidar_link -->
  <xacro:static_joint_macro
    parent="lidar_link"
    link_name="left_lidar_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="left_lidar_link"
    link_name="right_lidar_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['left_lidar_link']['right_lidar_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="lidar_link"
    link_name="center_camera_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['center_camera_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="lidar_link"
    link_name="left_camera_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['left_camera_link']['yaw']}"
  />
  <xacro:static_joint_macro
    parent="lidar_link"
    link_name="right_camera_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['right_camera_link']['yaw']}"
  />
    <xacro:static_joint_macro
    parent="lidar_link"
    link_name="fod_left_camera_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['fod_left_camera_link']['yaw']}"
  />
    <xacro:static_joint_macro
    parent="lidar_link"
    link_name="fod_right_camera_link"
    x="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['x']}"
    y="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['y']}"
    z="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['z']}"
    roll="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['roll']}"
    pitch="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['pitch']}"
    yaw="${front_wheel_data['front_wheel_link']['lidar_link']['fod_right_camera_link']['yaw']}"
  />

  </xacro:macro>
</robot>
